.footer {
    background-color: rgb(2, 105, 105);
    height: 50px;
    text-align: center;
    line-height: 50px;
}

.footer p {
    color: white;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}